<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "PigCI",
    "image": "<%= image_path('logo_pigci.svg') %>",
    "description": "Track your apps performance via your Test Suite & stop slow downs before they're deployed",
    "sku": "pigci-early-bird",
    "brand": {
      "@type": "Thing",
      "name": "PigCI"
    },
    "review": {
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5",
        "bestRating": "5"
      },
      "author": {
        "@type": "Person",
        "name": "Mike Rogers"
      }
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "1"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "USD",
      "price": "0.00",
      "url": "<%= Rails.application.credentials.dig(Rails.env.to_sym, :github, :install_url) %>",
      "priceValidUntil": "2020-01-01",
      "availability": "http://schema.org/InStock",
      "seller": {
        "@type": "Organization",
        "name": "Full On Development"
      }
    }
  }
</script>

<header class="jumbotron jumbotron-fluid">
  <div class="container text-center pigci-section-hero">
    <h1 class="mb-3">Rails Performance Monitoring as part of CI</h1>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <p class="mb-8 h4">Track your apps performance via your Test Suite &amp; stop slow downs before they're deployed</p>
      </div>
    </div>

    <% if current_user %>
      <%= link_to(
        'Manage App on GitHub',
        Rails.application.credentials.dig(Rails.env.to_sym, :github, :install_url),
        class: 'btn btn-primary mb-2'
      ) %>

    <%= link_to(
      'Watch the Demo',
      'https://www.youtube.com/watch?v=uodK1rY8J2c&feature=youtu.be',
      class: 'btn btn-outline-primary mb-2',
      'data-toggle': 'modal',
      'data-target': "#modal__demo-video"
    ) %>
<% else %>
  <%= link_to(
  'Start Monitoring Today (Free)',
  Rails.application.credentials.dig(Rails.env.to_sym, :github, :install_url),
  class: 'btn btn-primary mb-2'
  ) %>

<%= link_to(
  'Watch the Demo',
  'https://www.youtube.com/watch?v=uodK1rY8J2c&feature=youtu.be',
  class: 'btn btn-outline-primary mb-2',
  'data-toggle': 'modal',
  'data-target': "#modal__demo-video"
) %>
    <% end %>

    <div class="pigci-illustration-bacon"></div>
    <div class="pigci-illustration-tail"></div>
  </div>
</header>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  id="modal__demo-video"
  aria-labelledby="pigciDemoVideoLabel"
  aria-hidden="true"
  data-controller="video-modal"
  >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">PigCI - Two Minute Demo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe
          class="embed-responsive-item w-100 bg-light"
          height="480"
          src="about:blank"
          data-target="video-modal.videoIframe"
          data-src="//www.youtube-nocookie.com/embed/uodK1rY8J2c?vq=hd1080&modestbranding=1&showinfo=0&rel=0"
          frameborder="0"
          allowfullscreen="allowfullscreen"
          ></iframe>

        <div class="text-center mt-3 mb-2">
          <% if current_user %>
            <%= link_to(
              "View your Projects on PigCI",
              projects_path,
              class: 'btn btn-primary'
            ) %>
        <% else %>
          <%= link_to(
            "Start Monitoring Today (Free)",
            Rails.application.credentials.dig(Rails.env.to_sym, :github, :marketplace_url),
            class: 'btn btn-primary'
          ) %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container pigci-container-sp  mb-0 text-center">

  <h2>How it works</h2>
  <div class="pigci-hr pigci-hr-tail mb-8">
    <div class="left"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="right"></div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-8">
      <h3>Add your project</h3>
      <div class="pigci-hr pigci-hr-wiggle mb-3">
        <div class="left"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="right"></div>
      </div>
      <p class="text-left">Install the GitHub App &amp; you'll receive a dashboard for monitoring your Ruby on Rails application.</p>
    </div>
    <div class="col-md-4 mb-8">
      <h3>Install the Gem</h3>
      <div class="pigci-hr pigci-hr-wiggle mb-3">
        <div class="left"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="right"></div>
      </div>
      <p class="text-left">Add our gem to your test suite, every time you run your test suite it will report performance metrics to PigCI.</p>
    </div>
    <div class="col-md-4 mb-8">
      <h3>See results</h3>
      <div class="pigci-hr pigci-hr-wiggle mb-3">
        <div class="left"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="right"></div>
      </div>
      <p class="text-left">Commits that exceed a normal threshold will be marked as a failure, you can then review the results to find out why.</p>
    </div>
  </div>
</section>

<section class="container pigci-container-sp text-center">
  <h2>Supported Frameworks</h2>
  <div class="pigci-hr pigci-hr-tail mb-8">
    <div class="left"></div>
    <div class="middle d-none d-sm-block"></div>
    <div class="middle d-none d-sm-block"></div>
    <div class="middle d-none d-sm-block"></div>
    <div class="middle d-none d-sm-block"></div>
    <div class="middle d-none d-sm-block"></div>
    <div class="middle d-none d-sm-block"></div>
    <div class="middle d-none d-sm-block"></div>
    <div class="middle d-none d-sm-block"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="right"></div>
  </div>

  <div class="row mb-8">
    <div class="col-lg-3 offset-lg-3">
      <div class="pigci-logo-rails mb-2"></div>
      <h3 class="mb-4">Ruby on Rails</h3>
    </div>
    <div class="col-lg-3 align-self-center">
      <p class="text-left">PigCI currently supports Ruby on Rails, tested via Rspec.</p>
    </div>
  </div>
</section>

<section class="container pigci-container-sp text-center">
  <h2 id="pricing">Pricing</h2>
  <div class="pigci-hr pigci-hr-tail mb-8">
    <div class="left"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="right"></div>
  </div>

  <div class="card-deck card-deck--pricing text-center">
    <div class="card pigci-card-sub">
      <div class="card-body">
        <h3 class="h3 mb-2">Non-Commercial<br/>Open Source</h3>
        <p class="h1 mb-2">Free</p>
        <p class="h5 mb-2">always free for public open source</p>
        <ul class="pigci-list-pricing">
          <li>quick and easy setup</li>
          <li>integrates with workflows</li>
        </ul>
      </div>
    </div>
    <div class="card pigci-card-primary">
      <div class="card-body">
        <h3 class="mb-2 h3">Commercial</h3>
        <p class="mb-2 h1">Free<br /><span class="h4">For the first 100 users</span></p>

        <p class="mb-2 h5">everything from Free tier, plus:</p>
        <ul class="pigci-list-pricing">
          <li>Special early adopter pricing</li>
          <li>includes private repos</li>
        </ul>
      </div>
    </div>
    <div class="card pigci-card-sub">
      <div class="card-body">
        <h3 class="mb-2 h3">Enterprise</h3>
        <div class="pigci-card-button mb-2">
          <%= link_to 'Contact Us', contact_us_path, class: 'btn btn-primary btn-sm' %>
        </div>
        <p class="mb-2 h5">for GitHub Enterprise users</p>
        <ul class="pigci-list-pricing">
          <li>store data on your own servers</li>
          <li>premium support</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="container pigci-container-sp text-center pigci-section-footer-cta">
  <h2>Let&#39;s go!</h2>
  <div class="pigci-hr pigci-hr-tail mb-8">
    <div class="left"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="middle"></div>
    <div class="right"></div>
  </div>

  <div class="container mb-8">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <p class="h2">PigCI is a GitHub integration, so you can get setup in just a few minutes.</p>
      </div>
    </div>
  </div>

  <%= link_to(
    'Get started',
    Rails.application.credentials.dig(Rails.env.to_sym, :github, :install_url),
    class: 'btn btn-primary'
  ) %>

  <div class="pigci-illustration-bacon"></div>
  <div class="pigci-illustration-tail"></div>
</section>
